{% extends 'base.html.twig' %}

{% block title %}Modifier la question{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier la question</h1>

    {{ include('question/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}

{% block javascripts %}
    <script src="/js/admin_answer_script.js"></script>
{% endblock %}