{% extends 'base.html.twig' %}

{% block title %}Nouvelle question{% endblock %}

{% block body %}
    <h1>Nouvelle question</h1>

    {{ include('question/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="/js/admin_answer_script.js"></script>
{% endblock %}
